:root {
  --text: #fffffd;
  --accent: #525252;
  --accent-bg: #ffd039;

  font:
    14px ui-monospace,
    Consolas,
    monospace,
    'Segoe UI',
    Roboto,
    sans-serif;
  letter-spacing: 0.18px;
  color: var(--text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root,
[data-theme='focus'] {
  --bg-grad: #940815;
  .bg1 {
    opacity: 1;
  }
}

[data-theme='break'] {
  --bg-grad: #d53032;
  .bg2 {
    opacity: 1;
  }
}

[data-theme='long-break'] {
  --bg-grad: #2e111d;
  .bg3 {
    opacity: 1;
  }
}

body {
  margin: 0;
  min-height: 100vh;
}

body * {
  box-sizing: border-box;
}

p {
  margin: 0;
}
